/*=============================================
=                    Label                    =
=============================================*/

.label {
  font-size: var(--Ouitext-base);
  color: light-dark(var(--Ouineutral-900), var(--Ouineutral-50));
  font-weight: 500;

  &[data-required="true"]::after {
    content: "*";
    color: var(--Ouidanger-600);
    margin-left: var(--Ouispacing-xs);
  }

  &[data-error="true"] {
    color: var(--Ouidanger-600);
  }
}

/*=====            End of Label        ======*/
