/*=============================================
=                 Context Menu                =
=============================================*/
button {
  margin: 0;
  padding: 0;
}

.OuicontextMenu-Container {
  /* z-index: 9999; */
}

.OuicontextMenu {
  position: absolute;
  background-color: light-dark(var(--Ouineutral-50), var(--Ouineutral-700));
  width: max-content;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: calc(var(--Ouirounded) * 1rem);
}

.OuicontextMenu-Item {
  position: relative;
  border: unset;
  width: 100%;

  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline-end: 10px;

  background: light-dark(var(--Ouineutral-50), var(--Ouineutral-700));
  color: light-dark(var(--Ouineutral-900), var(--Ouineutral-50));
  font-size: 0.9rem;
  font-weight: 400;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    background-color: light-dark(var(--Ouineutral-100), var(--Ouineutral-800));
    color: light-dark(var(--Ouineutral-300), var(--Ouineutral-600));
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background-color: light-dark(var(--Ouineutral-100), var(--Ouineutral-600));
  }
}

.OuicontextMenu-ItemIcon {
  min-width: 35px;
  aspect-ratio: 1/1;
  /* height: 30px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: light-dark(var(--Ouineutral-200), var(--Ouineutral-800));
}

.OuicontextMenu_separator_container {
  position: relative;
  display: flex;
}

.OuicontextMenu_separator {
  height: 0.5px;
  margin-block: 8px;
  width: 100%;
  margin-inline: 10px;
  margin-block: 0px;
  background-color: var(--Ouineutral-200);
}

.OuicontextMenu_separator_icon {
  min-width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: light-dark(var(--Ouineutral-200), var(--Ouineutral-800));
}

.OuicontextMenu_group_title {
  font-size: var(--Ouispacing-sm);
  color: var(--Ouineutral-500);
  padding-inline: 10px;
  padding-top: 4px;
}

/*=====        End of Context Menu      ======*/
