/*=============================================
=                    Select                   =
=============================================*/

.select {
  width: 100%;

  &:hover {
    cursor: pointer;

    .disabled {
      cursor: not-allowed;
    }
  }
}

.select-container {
  position: relative;
  border-radius: calc(var(--Ouirounded) * 1rem);
  width: 100%;

  &:hover {
    cursor: pointer;
    &[data-disabled="true"] {
      cursor: not-allowed;
    }
  }
}

.highlighted-option {
  background-color: light-dark(var(--Ouiprimary-300), var(--Ouiprimary-500));
}

.select-dropdown {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  max-height: 40vh;
  overflow-y: scroll;
  scroll-margin-block: var(--Ouispacing-xs);

  background-color: light-dark(var(--Ouineutral-100), var(--Ouineutral-800));
  border: solid 0.5px light-dark(var(--Ouineutral-200), var(--Ouineutral-700));
  border-radius: calc(var(--Ouirounded) * 1rem);
}

.select-option {
  padding: var(--Ouispacing-xs);
  text-align: left;

  &[data-selected="true"] {
    background-color: light-dark(var(--Ouiprimary-400), var(--Ouiprimary-600));
  }

  &[data-disabled="true"] {
    opacity: 0.75;
    cursor: not-allowed;
  }
}

.select-empty-message {
  text-align: center;
  padding: var(--Ouispacing-xs);
}

.select-right-section {
  border-radius: calc(var(--Ouirounded) * 1rem);
  padding: var(--Ouispacing-xs) var(--Ouispacing-sm);
  background-color: light-dark(var(--Ouineutral-200), var(--Ouineutral-700));
}

/*=====            End of Select       ======*/
