:root {
  /* Primary Color */
  --Ouiprimary-50: #fbf6fd;
  --Ouiprimary-100: #f6ecfb;
  --Ouiprimary-200: #ecd8f6;
  --Ouiprimary-300: #deb9ee;
  --Ouiprimary-400: #cc8fe3;
  --Ouiprimary-500: #b364d1;
  --Ouiprimary-600: #9141ac;
  --Ouiprimary-700: #7f3695;
  --Ouiprimary-800: #692e7a;
  --Ouiprimary-900: #5a2a65;

  /* Success Color */
  --Ouisuccess-50: #eafee7;
  --Ouisuccess-100: #d1fbcc;
  --Ouisuccess-200: #a6f89e;
  --Ouisuccess-300: #6ff066;
  --Ouisuccess-400: #2ae120;
  --Ouisuccess-500: #1fca18;
  --Ouisuccess-600: #12a10f;
  --Ouisuccess-700: #107b10;
  --Ouisuccess-800: #136113;
  --Ouisuccess-900: #155217;

  /* Neutral Color */
  --Ouineutral-50: #ffffff;
  --Ouineutral-100: #efefef;
  --Ouineutral-200: #dcdcdc;
  --Ouineutral-300: #bdbdbd;
  --Ouineutral-400: #989898;
  --Ouineutral-500: #7c7c7c;
  --Ouineutral-600: #656565;
  --Ouineutral-700: #525252;
  --Ouineutral-800: #464646;
  --Ouineutral-900: #3d3d3d;
  --Ouineutral-950: #000000;

  /* Danger Color */
  --Ouidanger-50: #fff0f0;
  --Ouidanger-100: #ffdddd;
  --Ouidanger-200: #ffc0c0;
  --Ouidanger-300: #ff9494;
  --Ouidanger-400: #ff5757;
  --Ouidanger-500: #ff2323;
  --Ouidanger-600: #ff0000;
  --Ouidanger-700: #d70000;
  --Ouidanger-800: #b10303;
  --Ouidanger-900: #920a0a;

  /* Warning Color */
  --Ouiwarning-50: #fff9ec;
  --Ouiwarning-100: #fff0d3;
  --Ouiwarning-200: #ffdea5;
  --Ouiwarning-300: #ffc66d;
  --Ouiwarning-400: #ffa132;
  --Ouiwarning-500: #ff840a;
  --Ouiwarning-600: #e66100;
  --Ouiwarning-700: #cc4d02;
  --Ouiwarning-800: #a13c0b;
  --Ouiwarning-900: #82330c;
}
