:root {
  /* Text Sizing */
  --Ouitext-xs: 0.5rem;
  --Ouitext-sm: 0.75rem;
  --Ouitext-base: 1rem;
  --Ouitext-medium: 1.125rem;
  --Ouitext-lg: 1.5rem;
  --Ouitext-xl: 2.75rem;
  --Ouitext-2xl: 4rem;
}
