/*=============================================
=                     Menu                    =
=============================================*/

button {
  border: unset;
  background: unset;
}

.Ouimenu {
  position: relative;
  width: max-content;
  text-align: left;
}

.Ouimenu_target {
  border: unset;
  background-color: light-dark(--var(--Ouineutral-600), var(--Ouineutral-200));

  &:hover {
    cursor: pointer;
  }
}

.Ouimenu_dropdown {
  width: max-content;
  position: absolute;
  background: light-dark(var(--Ouineutral-50), var(--Ouineutral-700));
  color: light-dark(var(--Ouineutral-900), var(--Ouineutral-50));
  padding: var(--Ouispacing-sm);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  box-shadow: 2px 2px 6px light-dark(var(--Ouineutral-100), transparent);
  border: 1px solid light-dark(var(--Ouineutral-200), var(--Ouineutral-700));
  z-index: 1000;
  border-radius: calc(var(--Ouirounded) * 1rem);
}

.Ouimenu_item {
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  gap: 6px;

  &:not(:first-child) {
    margin-top: var(--Ouispacing-sm);
  }

  &:hover {
    cursor: pointer;
  }
}

.Ouimenu_label {
  font-size: 0.75rem;
}

.Ouimenu_divider {
  height: 1px;
  width: 100%;
  margin-block: var(--Ouispacing-sm);
  background-color: light-dark(var(--Ouineutral-800), var(--Ouineutral-200));
  border: unset;
}

/*=====            End of Menu         ======*/
