/*=============================================
=                    Input                    =
=============================================*/

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Ouispacing-2xs);
}

.input-inner {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.input {
  padding: var(--Ouispacing-xs) var(--Ouispacing-sm);
  border: solid 0.5px light-dark(var(--Ouineutral-200), var(--Ouineutral-700));
  background-color: light-dark(var(--Ouineutral-100), var(--Ouineutral-800));
  font-size: var(--Ouitext-base);
  flex: 1 1 0%;
  border-radius: calc(var(--Ouirounded) * 1rem);

  &::placeholder {
    color: light-dark(var(--Ouineutrl-200), var(--Ouineutral-700));
  }

  &:focus,
  &:focus-visible {
    outline: unset;
    border-color: var(--Ouiprimary-600);
  }

  &[data-error="true"] {
    background-color: var(--Ouidanger-100);
    border: 0.5px solid var(--Ouidanger-600);
    color: var(--Ouidanger-600);

    &::placeholder {
      color: var(--Ouidanger-400);
    }
  }
}

.error-message {
  color: var(--Ouidanger-500);
  font-size: var(--Ouitext-sm);
}

/*=====            End of Input        ======*/
