/*=============================================
=                ErrorBoundary                =
=============================================*/

.error-text {
  font-size: var(--Ouitext-base);
  color: var(--Ouidanger-500);
}

/*=====       End of ErrorBoundary   ======*/
