/*=============================================
=                   Table                     =
=============================================*/

.Ouitable {
  width: 100%;
  border-collapse: collapse;
}

.Ouithead {
  background-color: light-dark(var(--Ouineutral-100), var(--Ouineutral-800));
  color: light-dark(var(--Ouineutral-950), var(--Ouineutral-50));
}

.Ouibody {
  text-align: center;
}

.Ouitr {
  /* border: 1px solid light-dark(var(--Ouineutral-200), var(--Ouineutral-700)); */
}

.Ouith {
  border: 1px solid light-dark(var(--Ouineutral-200), var(--Ouineutral-700));
  padding-block: 0.5rem;
}

.Ouitd {
  background-color: light-dark(var(--Ouineutral-50), var(--Ouineutral-900));
  text-align: center;
  padding: 0.25rem;
  padding-block: 0.5rem;
  border: 1px solid light-dark(var(--Ouineutral-200), var(--Ouineutral-700));
  color: light-dark(var(--Ouineutral-950), var(--Ouineutral-50));
  padding-inline: var(--Ouispacing-sm);
  text-align: left;
}

/*=====          End of Table          ======*/
